extends ../../main/ru/index

block title
    title Список намерений

block description
    meta(name='description' content='Список намерений')

block keywords
    meta(name='Keywords', content='Список намерений')

block content
    include browser.html