<div class="Browser dynamicPage" v-bind:class="{ show: loaded == true }">
    <div class="content">
        <div class="sortButtons">
            <button v-bind:class="{ active: sortMode == 'byOrigin' }" v-on:click="byOrigin">По адресу</button>
            <button v-bind:class="{ active: sortMode == 'byKey' }" v-on:click="byKey">По ключу</button>
        </div>
        <div class="border-box">
            <div is="tree" v-bind:tree="list" v-bind:onchecked="onchecked" keypath="name"></div>
        </div>
        <div class="border-box">
            <table class="props" v-if="selected != null">
                <tr>
                    <td>Ключ</td>
                    <td v-text="selected.key"></td>
                </tr>
                <tr>
                    <td>Адрес</td>
                    <td v-text="(selected.origin == null) ? 'Локальное' : selected.origin"></td>
                </tr>
                <tr>
                    <td>Заголовок</td>
                    <td v-text="getText(selected.title)"></td>
                </tr>
                <tr class="description" v-if="selected.description != null">
                    <td>Описание</td>
                    <td v-html="getText(selected.description)"></td>
                </tr>
                <tr>
                    <td>Id</td>
                    <td v-text="selected.id"></td>
                </tr>
                <tr>
                    <td>Время</td>
                    <td v-text="selected.mtime.format('DD MMM YYYY HH:MM')"></td>
                </tr>
                <tr>
                    <td>Вход</td>
                    <td v-text="selected.input"></td>
                </tr>
                <tr>
                    <td>Выход</td>
                    <td v-text="selected.output"></td>
                </tr>
                <tr v-if="(selected.accepted != null) && (selected.accepted.length > 0)">
                    <td class="accepted">Подключено</td>
                    <td>
                        <table class="props border-box" v-for="accepted of selected.accepted">
                            <tr>
                                <td >Адрес</td>
                                <td v-text="(accepted.origin == null) ? 'Локальное' : accepted.origin"></td>
                            </tr>
                            <tr>
                                <td>Заголовок</td>
                                <td v-text="getText(accepted.title)"></td>
                            </tr>
                            <tr>
                                <td>Id</td>
                                <td v-text="accepted.id"></td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>