#TestSuit {
    display: flex;
}

#mocha {
    background-color: white;
}

#mocha ul {
    display: block;
    position: static;
}

#mocha {
    width: 15%;
    overflow-y: auto;
}

#TestSuit #Intention {
    width: 78%;
}


#TestSuit #Intention #Center {
    height: 85vh;
}
