#TestSuit {
    display: flex;
}

#mocha {
    background-color: white;
}

#mocha ul {
    display: block;
    position: static;
}

#mocha {
    width: 15%;
    overflow-y: auto;
}

#Intention {
    width: 85%;
}