.Browser {

}

.Browser .border-box {
    height: 100%;
    overflow: hidden;
    padding-right: 0;
}


.Browser .content {
    display: grid;
    grid-template-columns: auto 30%;
    grid-template-rows: 5% 95%;
    grid-gap: 0.5rem;
}

.Browser .content .sortButtons {
    display: flex;
    grid-column: 1 / 3;
}

.Browser .content .border-box > .Tree_Cont > .Tree > ul {
    margin: 0;
    padding: 0;
}

.Browser .content .props > tr > td:first-child {
    text-align: right;
    color: #00BFFF;
}

.Browser .content .props > tr > td:last-child {
    padding-left: 0.5rem
}

.Browser .content .props.border-box {
    padding: 0;
    margin-top: 0.5rem;
}

.Browser .content .props > tr > td.accepted {
    color: #ff603d;
}

.Browser .content > .border-box > .Tree_Cont {
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}

.Browser .content .props .description p {
    padding: 0;
    margin: 0;
}

.Browser .content .props .description ul {
    padding: 0;
    margin: 0 0 0 2.5rem;
}

.Browser .content .props .description h2 {
    font-size: inherit;
    color: white;
}
