extends ../../templates/index.pug

block title
    title Internet Intension Console Intension Browser

block description
    meta(name='description' content='intension browser')

block keywords
    meta(name='Keywords', content='Internet intension Console command console')

block content
    div(is="browser" inline-template)
        include browser.html