.Browser {

}

.Browser .border-box {
    height: 100%;
    overflow: auto;
}


.Browser .content {
    display: grid;
    grid-template-columns: auto 30%;
    grid-template-rows: min-content auto;
    grid-gap: 0.5rem;
}

.Browser .content .sortButtons {
    display: flex;
    grid-column: 1 / 3;
}

.Browser .content .border-box > .Tree_Cont > .Tree > ul {
    margin: 0;
    padding: 0;
}

.Browser .content .props > div {
    display: flex;
    justify-content: stretch;
}

.Browser .content .props > div.hide {
    display: none;
}

.Browser .content .props > div > div:first-child {
    text-align: right;
    color: #00BFFF;
    margin-right: 0.5rem;
    width: 20%;
    flex-shrink: 0;
}

.Browser .content .props > div > div:last-child {
    padding-left: 0.5rem;
    width: 80%;
    flex-shrink: 0;
}

.Browser .content .props.border-box {
    padding: 0.5rem 0 0.5rem 0;
    margin-top: 0.5rem;
}

.Browser .content .props > div > div.accepted {
    color: #ff603d;
}

.Browser .content .props > div.accepted_cont {
    display: flex;
    align-items: center;
}

.Browser .content .props > div > div.accepted_data {
    display: flex;
    flex-direction: column;
}

.Browser .content .props > div > div.accepted_data > .props {
    padding: 0.5rem;
}

.Browser .content > .border-box > .Tree_Cont {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.Browser .content .props .description p {
    padding: 0;
    margin: 0;
}

.Browser .content .props .description ul {
    padding: 0;
    margin: 0 0 0 2.5rem;
}

.Browser .content .props .description h2 {
    font-size: inherit;
    color: white;
}
