highlight-javascript {
    font-family: monospace;
    display: block;
    margin: 0.5rem 0 0.5rem 0;
    padding: 1rem;
    border: 1px solid #888888;
    border-radius: 0.5rem;
}

highlight-javascript .constant {
    color: #a8d6d5;
}

highlight-javascript .string{
    color: #bbffbb;
}

highlight-javascript .word.constant{
    font-weight: bold;
    color: unset;
}

highlight-javascript .constant.usage {
    color: #a8d6d5;
    font-weight: unset;
}

highlight-javascript .word.new{
    font-weight: bold;
}

highlight-javascript .word.async{
    font-weight: bold;
}

highlight-javascript .word.function{
    font-weight: bold;
}

highlight-javascript .singleLineComment {
    color: #b3b3b9;
    font-style: italic;
}