<div class="Listener dynamicPage" v-bind:class="{ show: loaded == true }">
    <div class="content">
        <div class="output">
            <div class="answer" v-bind:class="{ ext: answer.ext }" v-for="answer in answers">
                <div class="top">
                    <span class="time" v-text="answer.time.format('DD-MMM-YYYY HH:mm:ss.SSS')"></span>
                    <span class="context" v-if="answer.context != null" v-text="`[${getText(answer.context)}]`"></span>
                </div>
                <pre v-text="getText(answer.text)"></pre>
                <div class="alternatives" v-if="answer.alternatives.length > 0">
                    <button v-on:click="toggleAlternatives(answer)">
                        <span class="icon" v-bind:class="{'icon-plus-squared-alt': !answer.showAlternatives, 'icon-minus-squared-alt': answer.showAlternatives}"></span>
                        <span>Alternatives</span>
                    </button>
                    <div v-if="answer.showAlternatives">
                        <div class="text" v-for="alternative in answer.alternatives">
                            <span v-text="getText(alternative.transcript)"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <textarea title="text input"></textarea>
    </div>
</div>