extends ../../main/en/index

block title
    title Internet Intention Console Browser

block description
    meta(name='description' content='intention browser')

block keywords
    meta(name='Keywords', content='Internet intention console browser')

block content
    include browser.html