<div class="Browser dynamicPage">
    <div class="content">
        <div class="sortButtons">
            <button>By origin</button>
            <button>By key</button>
        </div>
        <div class="border-box">

        </div>
        <div class="border-box">
            <table class="props">
                <tr>
                    <td>Key</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Origin</td>
                    <td v-text="(selected.origin == null) ? 'Local' : selected.origin"></td>
                </tr>
                <tr>
                    <td>Title</td>
                    <td v-text="getText(selected.title)"></td>
                </tr>
                <tr class="description" v-if="selected.description != null">
                    <td>Description</td>
                    <td v-html="getText(selected.description)"></td>
                </tr>
                <tr>
                    <td>Id</td>
                    <td v-text="selected.id"></td>
                </tr>
                <tr>
                    <td>Time</td>
                    <td v-text="selected.mtime.format('MMM DD, YYYY HH:MM')"></td>
                </tr>
                <tr>
                    <td>Input</td>
                    <td v-text="selected.input"></td>
                </tr>
                <tr>
                    <td>Output</td>
                    <td v-text="selected.output"></td>
                </tr>
                <tr v-if="(selected.accepted != null) && (selected.accepted.length > 0)">
                    <td class="accepted">Accepted</td>
                    <td>
                        <table class="props border-box" v-for="accepted of selected.accepted">
                            <tr>
                                <td>Origin</td>
                                <td v-text="(accepted.origin == null) ? 'Local' : accepted.origin"></td>
                            </tr>
                            <tr>
                                <td>Title</td>
                                <td v-text="getText(accepted.title)"></td>
                            </tr>
                            <tr>
                                <td>Id</td>
                                <td v-text="accepted.id"></td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>