extends ../../main/en/index

block title
    title Internet Intension Console Browser

block description
    meta(name='description' content='intension browser')

block keywords
    meta(name='Keywords', content='Internet intension console browser')

block content
    div(is="browser" inline-template)
        include browser.html