.Listener {

}

.Listener .content {
    display: grid;
    grid-template-areas: 'output'
                          'input';
    grid-template-columns: auto;
    grid-template-rows: 1fr 5vw;
    grid-gap: 0.5rem;
    height: 100%;
}

.Listener .content .output {
    border: 1px solid #a0a0a0;
    border-radius: 0.5rem;
    grid-area: output;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow-x: hidden;
    overflow-y: auto;
}

.Listener .content textarea {
    height: 100%;
    display: block;
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #a0a0a0;
    border-radius: 0.5rem;
    grid-area: input;
    resize: none;
}

.Listener .content .answer {
    background-color: #373636;
    padding: 0.5rem 1rem;
    border: 1px solid #a0a0a0;
    border-radius: 1rem;
    margin-bottom: 0.5rem;
    width: 70%;
    align-self: flex-end;
}

.Listener .content .answer.ext {
    background-color: #242323;
    padding: 1rem 1rem;
    border-radius: 1rem;
    margin-bottom: 0.5rem;
    align-self: unset;
}

.Listener .content .answer p, .Listener .content .answer pre {
    margin: 0;
    padding: 0;
    white-space: normal;
}

.Listener .content .answer .top {
    font-size: 0.8rem;
    display: flex;
}

.Listener .content .answer .top .time {
    font-style: italic;
    color: #a0a0a0;
}

.Listener .content .answer .top .context {
    color: #ff603d;
    margin-left: 0.5rem;
}

.Listener .content .alternatives {
    margin-top: 0.2rem;
}

.Listener .content .alternatives .text{
    margin-left: 0.5rem;
}

.Listener .content .alternatives button {
    display: flex;
    align-items: center;
    padding: 0.2rem 0.5rem 0.2rem 0;
    text-decoration: none;
    background-color: transparent;
}

.Listener .content .alternatives button:hover {
    text-decoration: underline;
}

.Listener .content .alternatives button .icon {
    margin-right: 0.2rem;
}


