extends ../../templates/index.pug

block title
    title Internet Intension Console command listener

block description
    meta(name='description' content='command listener')

block keywords
    meta(name='Keywords', content='Internet intension Console command console')

block content
    div(is="frontpage" inline-template)
        include listener.html