<div class="Listener" v-bind:class="{ show: loaded == true }">
    <div class="content">
        <div class="output">
            <div class="answer" v-for="answer in answers">
                <p v-text="answer.text"></p>
                <div class="alternatives" v-if="answer.alternatives.length > 0">
                    <button><span>+</span>Alternatives</button>
                    <div class="text" v-for="alternative in answer.alternatives">
                        <span v-text="alternative.transcript"></span>
                    </div>
                </div>
            </div>
        </div>
        <textarea class="hear-input" title="hear input" v-model="newText" autofocus></textarea>
    </div>
</div>