doctype html
html(lang='ru')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, height=device-height, initial-scale=1')
        meta(property='og:title' content='Сеть намерений - Консоль')
        meta(name="author" content="Millerrabin")

        link(rel="icon", type="image/png", href="/favicon_s.png", sizes="64x64")
        link(rel="icon", type="image/png", href="/favicon.png", sizes="152x152")

        if (item.disallow)
            meta(name="ROBOTS" content="NOINDEX, NOFOLLOW")
        else
            meta(name="ROBOTS" content="INDEX, FOLLOW")

        block title
            - var title = ( item.title == null) ? 'Сеть намерений - Консоль' : item.title
            title #{title}

        block description
            - var description = ( item.description == null) ? 'Сеть намерений - Консоль' : item.description;
            meta(name='description' content=description)

        block keywords
            - var keywords = ( item.keywords == null) ? 'Сеть намерений - Консоль' : item.keywords;
            meta(name='Keywords', content=keywords)

        each bundle in config.css.files
            each link in bundle.desktopFiles
                link(href='/' + link, rel='stylesheet')
            each link in bundle.mobileFiles
                link(href='/' + link, rel='stylesheet', media='screen and (orientation: portrait), screen and (max-width: 640px)')

        script(src="/node_modules/moment/min/moment.min.js")
        script(src="/node_modules/az/dist/az.min.js")
        script(src="/apps/main/main.js" type="module")


    body
        #Intention
            #Header_Container
                include ../../header/ru/header.html
            #Center
                #Router
                    block content
                #Info
                    #Tasks
                        include ../../tasks/tasks.html
                    #Listener
                        include ../../listener/en/listener.html
            #Footer_Container
                    include ../../footer/ru/footer.html