extends ../../main/ru/index

block title
    title Список намерений

block description
    meta(name='description' content='Документация Сети Намерений')

block keywords
    meta(name='Keywords', content='документация сети намерений')

block content
    .Documentation.dynamicPage
        nav.border-box
            ul
                li Введение
                li.level
                    a(class=(item.materialActive == 1) ? 'active' : '', href='/ru/documentation/what-is-what.html') Что такое Сеть Намерений?
        .border-box.material !{item.content}
