extends ../../main/ru/index

block title
    title Сеть намерений

block description
    meta(name='description' content='Сеть Намерений')

block keywords
    meta(name='Keywords', content='сеть намерений')

block content
    .Documentation.dynamicPage
        nav.border-box
            include menu.html
        .border-box.material !{item.content}
