extends ../../main/ru/index

block title
    title Сеть намерений Документация

block description
    meta(name='description' content='Документация Сети Намерений')

block keywords
    meta(name='Keywords', content='документация сети намерений')

block content
    .Documentation.dynamicPage
        nav.border-box
            include menu.html
        .border-box.material !{item.content}
