html {
    font-size: 1.1vw;
}

#Center_Container {
    margin: 0 4rem 0 4rem;
    overflow-x: auto;
    overflow-y: hidden;
}

#Center {
    width: calc(100% + 50vw - 12rem);
}

#Info {
    width: 50vw;
}

#Tasks {
    right: 33rem;
    bottom: 6.8rem;
    pointer-events: none;
}