html {
    font-size: 1.1vw;
}

.content {
    padding: 0 4rem 0 4rem;
}

#Info {
    grid-template-columns: 50% 50%;
    width: calc(100vw - 4rem);
    box-sizing: border-box;
}

#Router {
    overflow-x: auto;
    overflow-y: hidden;
}
