highlight-javascript {
    font-family: monospace;
    display: block;
    margin: 0.5rem 0 0.5rem 1rem;
    padding: 0;
}

highlight-javascript .constant {
    color: #a8d6d5;
}

highlight-javascript .string{
    color: #bbffbb;
}

highlight-javascript .word.constant{
    font-weight: bold;
    color: unset;
}

highlight-javascript .constant.usage {
    color: #a8d6d5;
    font-weight: unset;
}

highlight-javascript .word.new{
    font-weight: bold;
}

