.Storages {

}

.Storages .border-box {
    height: 100%;
}


.Storages .content {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-gap: 0.5rem;
}

.Storages .content .controls {
    display: flex;
    flex-direction: column;
}

.Storages .storage h2 {
    color: #e0e0e0;
    font-size: 1.5rem;
}
