extends ../main/en/index

block title
    title Internet Intension Console Storages

block description
    meta(name='description' content='intension storages')

block keywords
    meta(name='Keywords', content='Internet intension storages')

block content
    div(is="browser" inline-template)
        include storages.html