extends ../../main/en/index

block title
    title Internet Intention Console Documentation

block description
    meta(name='description' content='intention network documentation')

block keywords
    meta(name='Keywords', content='Internet intention console documentation')

block content
    include documentation.html