.Storages {

}

.Storages .border-box {
    height: 100%;
}

.Storages .content {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-gap: 0.5rem;
}

.Storages .content .controls {
    display: flex;
    flex-direction: column;
}

.Storages .storage {
    display: flex;
    font-size: 1.5rem;
    color: aquamarine;
    font-weight: bold;
}

.Storages .storage > span {
    margin-left: 1rem;
}

.Storages .storage.error {
    color: red;
}

.Storages .storage h2 {
    font-size: inherit;
    color: inherit;
}

