extends ../../main/ru/index

block title
    title Интернет Намерений - Консоль. Управление хранилищами

block description
    meta(name='description' content='хранилища намерений')

block keywords
    meta(name='Keywords', content='хранилища намерений')

block content
    div(is="browser" inline-template)
        include storages.html