extends ../../main/ru/index

block title
    title Сеть намерений - Консоль. Управление хранилищами

block description
    meta(name='description' content='хранилища намерений')

block keywords
    meta(name='Keywords', content='хранилища намерений')

block content
    include storages.html