extends ../../main/en/index

block title
    title Intention Network Console

block description
    meta(name='description' content='intention network')

block keywords
    meta(name='Keywords', content='intention network console')

block content
    .Documentation.dynamicPage
        nav.border-box
            include menu.html
        .border-box.material !{item.content}