.Documentation {
    grid-template-columns: 30% auto;
    padding: 0 4rem 1rem 4rem;
    width: 130%;
}

.Documentation h3 {
    font-size: 3rem;
}

.Documentation h4 {
    font-size: 2.4rem;
}

.Documentation .material {
    padding: 2rem;
    font-size: 2rem;
}

.Documentation .material code {
    padding: 2rem;
    font-size: 1.8rem;
}

