doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, height=device-height, initial-scale=1')
        meta(property='og:title' content='Rain Technologies Continuous Integration')
        meta(name="author" content="Millerrabin")
        base(href='/')
        link(rel="icon", type="image/png", href="/favicon_s.png", sizes="64x64")
        link(rel="icon", type="image/png", href="/favicon.png", sizes="152x152")

        if (item.disallow)
            meta(name="ROBOTS" content="NOINDEX, NOFOLLOW")
        else
            meta(name="ROBOTS" content="INDEX, FOLLOW")

        block title
            - var title = ( item.title == null) ? 'Raintech CI' : item.title
            title #{title}

        block description
            - var description = ( item.description == null) ? 'Rain technologies Continuous Integration' : item.description;
            meta(name='description' content=description)

        block keywords
            - var keywords = ( item.keywords == null) ? 'Rain technologies Continuous Integration' : item.keywords;
            meta(name='Keywords', content=keywords)

        each bundle in config.css.files
            each link in bundle.desktopFiles
                link(href='/' + link, rel='stylesheet')
            each link in bundle.mobileFiles
                link(href='/' + link, rel='stylesheet', media='screen and (orientation: portrait), screen and (max-width: 640px)')

        script(src="/node_modules/vue/dist/vue.min.js")
        script(src="/node_modules/vue-router/dist/vue-router.min.js")
        script(src="/node_modules/moment/min/moment.min.js")
        script(src="/scripts/main.js" type="module")
    body
        #CI
            #Header_Container
                include ../pages/header.html
            #Center
                #Router(is="router-view")
                    block content
            #Footer_Container
                    include ../pages/footer.html