| <?xml version="1.0" encoding="UTF-8"?> <urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
= '\n'
each page in pages
    - const alias = (page.alias == '/') ? '' : page.alias;
    - const dest = (alias == null) ? domain + '/' + page.destination.replace(/\\/g, '/') : domain + alias;
    - let freq  = 'monthly';
    = '\t'
    if (page.freq != null)
        - freq = page.freq;
    if (page.sitemap !== false)
        | <url>
        = '\n\t\t'
        | <loc>#{ dest }</loc>
        = '\n\t\t'
        | <lastmod>#{ utils.getModTime(directory, page) }</lastmod>
        = '\n\t\t'
        | <changefreq>#{ freq }</changefreq>
        = '\n'
        if (page.priority != null)
            = '\t\t'
            | <priority>#{ page.priority }</priority>
            = '\n'
        = '\t'
        | </url>
        = '\n'
| </urlset>