.Documentation {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 15% auto;
  grid-column-gap: 2rem;
  font-size: 1rem;
}

.Documentation p {
  padding: 0;
  margin: 1rem 0;
}

.Documentation nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.Documentation nav ul li {
  margin-top: 0.5rem;
  color: #cccccc;
}

.Documentation nav ul li:first-child {
  margin-top: 0;
}

.Documentation nav ul li.level {
  margin-left: 1rem;
}

.Documentation nav ul li a {
  color: white;
  text-decoration: none;
}

.Documentation nav ul li a.active {
  color: #00BFFF;
}

.Documentation nav ul li a:hover {
  text-decoration: underline;
}

.Documentation h3 {  
  margin: 0 0 0 0;
}

.Documentation h4 {  
  margin: 1rem 0 0.4rem 0;
}

.Documentation .material ul {
  margin: 1rem 0 1rem 1rem;
  padding: 0 0 0 1rem;
}

.Documentation .material a {
  color: #00BFFF;
}

.Documentation .material b {
  color: #d6fcff;
}

.Documentation .material code {
  display: block;
  margin: 0.5rem 0 0.5rem 1rem;
  padding: 0;
}

.Documentation .material code.name {
  color: #7aadb9;
  font-weight: bold;
}


.Documentation .material .green {
  color: #bbffbb;
}

.Documentation .partners {
  display: grid;
  width: 100%;
  gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 4rem;
  margin-top: 1rem;
}

.Documentation .partners .item {
  width: 100%;  
}

.Documentation .partners .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}