.Frontpage {
    height: 100%;
    display: none;
}

.Frontpage.show {
    display: block;
}

.Frontpage > .content {
    padding: 0 8rem 0 8rem;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    height: 100%;
}

