extends ../../templates/index.pug

block title
    title Internet Intension Console

block description
    meta(name='description' content='Home')

block keywords
    meta(name='Keywords', content='Internet intension Console')

block content
    div(is="frontpage" inline-template)
        include frontpage.html